/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|HScrollBar { 
	skinClass: ClassReference("skins.HScrollBarSkin");
} 

s|VScrollBar { 
	skinClass: ClassReference("skins.VScrollBarSkin");
}

.myAlertButtonStyle {
	skin: ClassReference("skins.btnSkin");
}

mx|ColorPicker {
	color: #000000;
	fontFamily: Arial;
}

mx|TextInput {
	color: #000000;
}