/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global 
{
	modalTransparencyBlur: 0.6;
	modalTransparency: 0.8;
	modalTransparencyColor: black;
	modalTransparencyDuration: 300;
}

s|DropDownList 
{
	contentBackgroundColor: #58595B;
	rollOverColor: #2da4e8;
	selectionColor: #2da4e8;
	color: #FFFFFF;
}

.tab
{
	up-skin: ClassReference("skins.tabSkin");
	down-skin: ClassReference("skins.tabSkin");
	over-skin: ClassReference("skins.tabSkin");
	selected-up-skin: ClassReference("skins.selectedTabSkin");
	selected-down-skin: ClassReference("skins.selectedTabSkin");
	selected-over-skin: ClassReference("skins.selectedTabSkin");
	
	background-color: singleton.baseColor;
	
	font-weight: normal;
	color: #000000;
	text-roll-over-color: #000000;
	
	corner-radius: 0;
	
	border-style: none;
}

.selectedTab
{
	background-color: #0b3766;
	
	font-weight: bold;
	color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	
	corner-radius: 0;
	
	border-style: solid;
	border-thickness: 1;
	border-color: #464646;
}

s|HScrollBar { 
	skinClass: ClassReference("skins.HScrollBarSkin");
} 

s|VScrollBar { 
	skinClass: ClassReference("skins.VScrollBarSkin");
}
