/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global 
{
	fontFamily: _AppFontRegular;
	modalTransparencyBlur: 0.6;
	modalTransparency: 0.8;
	modalTransparencyColor: black;
	modalTransparencyDuration: 300;
}

s|Application {
	fontFamily: _AppFontRegular;
}

s|Image {
	enableLoadingState: true;
}

s|Button {
	fontFamily: _AppFontRegular;
	
}

mx|LinkButton {
	fontFamily: _AppFontMX;
}

mx|ToolTip {
	color: #08472E;
	border-color: #FFFFFF;
	border-style: solid;
	fontFamily: _AppFontRegularMX;
	border-visible: true;
	font-size: 14pt;
	corner-radius: 5;
	padding-left: 5;
	padding-right: 5;
	padding-top: 5;
	padding-bottom: 5;
}

mx|Alert {
	modalTransparency: 0;
	color: #08472E;
	backgroundAlpha: 1;
	headerHeight: 0;
	fontSize: 16pt;
	dropShadowVisible: true;
	fontFamily: _AppFontRegularMX;
	buttonStyleName: myAlertButtonStyle;
}

s|Label {
	fontFamily: _AppFontRegular;
}

mx|LinkButton {
	fontFamily: _AppFontRegularMX;
	fontSize: 12pt;
}

mx|HSlider {
	fontFamily: _AppFontRegularMX;
	fontSize: 10pt;
	color: #58595B;
}


.myTabStyle
{
	fontFamily: _AppFontRegularMX;
	fontSize: 12pt;
	font-weight: normal;
	color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	corner-radius: 0;
	border-style: none;
	tabStyleName: myTab;
}

.myTab
{
	background-color: #1383cb;	
	fillColors: #1383cb;
}

.help 
{
	fontFamily: _AppFontHerculanum;
	fontSize: 14pt;
	color: #FFFFFF;
}

.selectedTab
{
	fontFamily: _AppFontRegularMX;
	fontSize: 12pt;
	background-color: #1383cb;
	font-weight: normal;
	color: #FFFFFF;
	text-roll-over-color: #FFFFFF;
	corner-radius: 0;
	border-style: none;
}

mx|Tree {
	fontFamily: _AppFontRegularMX;
	fontSize: 10pt;
}

mx|TreeItemRenderer {
	fontFamily: _AppFontRegularMX;
	fontSize: 10pt;
}

.hyperLink {
	fontSize: 11pt;
	color: #53b0ff;
	textDecoration: underline;
}

.addPhotoLabel {
	fontFamily: _AppFontEnjoy;
	color: #FFFFFF;
}
